@font-face {
    font-family: "SawarabiMincho Regular";
    src: url("../fonts/SawarabiMincho-Regular.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black !important;
}

h1 {
    margin: 0 auto;
    color: white;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 1134px;
}

.Start-page {
    width: 100%;
    max-width: 100%;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    color: black;
}

.logo-conteiner {
    color: white;
    padding-top: 311px;
}

.logo-conteiner hr {
    border-color: white;
    width: 600px;
    transform: translateY(-85px);
    margin: 0 auto;
}

h1.Logo {
    font-family: "SawarabiMincho Regular";
    text-align: center;
    font-size: 288px;
    font-weight: 400;
}

.Logo-text {
    font-family: "Roboto Thin";
    text-align: center;
    font-size: 36px;
    transform: translateY(-120px);
}

.down-button {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.down-button img {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25);

}


.about-us {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.about-us h1 {
    font-size: 36px;
    font-family: "Roboto Light";
    padding-bottom: 70px;
}

.about-us p {
    font-size: 24px;
    font-family: "Roboto Thin";
    margin: 0;
}

.services {
    padding-top: 100px;
}

.services h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Roboto Light";
}

.services .Logo{
    font-family: "SawarabiMincho Regular";
    font-size: 228px;
    color: white;
    position: absolute;
    transform: rotate(-90deg);
    z-index: -100;
}
.services ul{
    color:white;
    list-style-type: none;
    text-align:left ;
    margin-left: 300px;
    margin-top: 50px;
}

.services li{
    padding-bottom: 40px;
    font-family: "Roboto Thin";
    font-size:20px ;
}
.c-services{
    display: flex;
    align-items: center;
}

.banner{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 800px;
   
}

.banner h1{
    font-size: 36px;
    font-family: "Roboto Light";
    padding-bottom: 70px;
    text-align: center;
}
.banner p{
    margin: 0;
    color:white;
    Font-size: 24px;
    font-family: "Roboto Thin";
    text-align: center;
}

.banner form{
    width: 580px;
    padding-top:70px;
    padding-bottom:80px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.banner button{
    margin-top: 40px;
    width: 300px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 50px;
    border:0;
    font-size: 24px;
    font-family: "Roboto Light";
}
.banner button:hover{
    box-shadow: -8px -4px 16px rgba(255, 255, 255, 0.7), 6px 7px 24px rgba(185, 0, 201, 0.5);
    transition: 0.4s;
}
.banner input{
    margin-bottom: 40px;
    width:550px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-size:20px;
    font-family: "Roboto Thin";
    border:0;
    outline: none;
    padding-left: 25px;
}
.banner img{
    margin: 0;
    position: relative;
    left: 600px;
    bottom:300px;
    z-index: -100;
}
.sales h1{
    padding-bottom: 70px;
    font-size: 36px;
    font-family: "Roboto Light";
    text-align: center;
}


.cards-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.card-container{
    background: linear-gradient(210.55deg, #FFFFFF 19.14%, #C6D7EB 154.68%);
    box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.4), -16px -16px 40px rgba(255, 255, 255, 0.5), inset -8px -6px 80px rgba(255, 255, 255, 0.25);
    border-radius:25px;
    width: 300px;
    max-width: 100%;
    height: 350px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card-name{
    font-family: "Roboto Light";
    font-size: 22px;
    width: 236px;

}
.card-desk{
    font-family: "Roboto Thin";
    font-size: 20px;
    width: 236px;
}

.sorry{
    text-align: center;
    padding-top: 200px;
    height: 100px;
    font-family: "Roboto Regular";
}